beautifulsoup4==4.13.3
blinker==1.8.2
CacheControl==0.14.2
cachetools==5.5.2
charset-normalizer==3.4.1
click==8.1.8
cmake==3.22.0
colorama==0.4.6
cryptography==44.0.2
distlib==0.3.9
Django==2.2.4
djangorestframework==3.13.1
dlib==19.24.6
et_xmlfile==2.0.0
face-recognition==1.3.0
face_recognition_models==0.3.0
filelock==3.15.04
firebase-admin==6.7.0
Flask==3.0.3
google-api-core==2.24.2
google-api-python-client==2.166.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.3
google-cloud-firestore==2.20.1
google-cloud-storage==3.1.0
google-crc32c==1.5.0
google-resumable-media==2.7.2
googleapis-common-protos==1.69.2
grpcio==1.70.0
grpcio-status==1.70.0
httplib2==0.22.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
jsonpointer==2.1
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
msgpack==1.1.0
numpy==1.24.3
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
openpyxl==3.1.5
packaging==24.2
pillow==10.4.0
platformdirs==4.2.0
pluggy==1.4.0
proto-plus==1.26.1
protobuf==3.20.3
pyasn1==0.6.1
pyasn1-modules==0.4.2
pycparser==2.22
pydantic==2.6.4
PyJWT==2.9.0
pyparsing==3.1.4
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
requests==2.32.3
rich==13.7.1
rsa==4.9
scipy==1.10.1
seaborn==0.13.2
six==1.15.0
smmap==5.0.2
sounddevice==0.5.1
soupsieve==2.6
sqlparse==0.5.3
sympy==1.13.3
termcolor==1.1.0
torch==2.4.1
torchaudio==2.4.1
torchvision==0.19.1
tqdm==4.67.1
typing-extensions==4.13.2
tzdata==2025.2
ultralytics==8.3.107
ultralytics-thop==2.0.14
urllib3==2.2.3
Werkzeug==3.0.6
wrapt==1.12.1
zipp==3.20.2

#  Git-based install
# retina-face @ git+https://github.com/serengil/retinaface.git@f23f699213592dc484f6c69197f670ec8d78ef94
# UNKNOWN @ git+https://github.com/antoinelame/GazeTracking.git@33d60e155a2971aecc8a85334e693821eaa3a1d0
